.result-container {
    color: black;
    background-repeat: no-repeat;
    margin: auto;
    margin-left: 130px;
    margin-right: 130px;
    padding: 15px;
}



.result-title {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;

}

.saved-title{
    color: white;
}

h3 {

        margin: auto;
        padding: 15px;
        background-color: rgb(125, 125, 125);
        color: black;
        border: inset;
        border-radius: 10px;
        max-width: 400px;
}
