.login-form,
.signup-form {
  width: 100%;
  max-width: 330px;
  padding: 20px;
  margin: auto;
  margin-top: 80px;
  height: 100%;
  background-color:
    rgb(125, 125, 125);
  border-radius: 10px;
  border: inset;
    color: white;
    border: inset;
    text-shadow: 3px 3px black
}

Button {
  background: #850707 !important;
}

.sign-up {
  text-shadow: 0 0  !important;
  color: darkblue;
}