.search-container {
    margin: 70px;
    padding: 20px;
    background-color: rgb(125, 125, 125);
    color: black;
    border: inset;
    border-radius: 10px;
    max-width: 600px;
}

.search-title{
    color: white;
    border: none;
    text-shadow: 3px 3px black;
}

.search-bar {
    width: 400px;
}

.searchBtn {
    float: left;
    margin-top: 5px;
    width: 10%;
    padding: 5px;
    background: #850707;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    border-radius: 10px;
    /* Prevent double borders */
    cursor: pointer;
}

.search-bar {
    border-radius: 10px;
}